@font-face {
  font-family: 'Poppins-Bold';
  src: url('../public/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins-Regular';
  src:url('../public/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../public/fonts/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: 'Europa';
  src: url('../public/fonts/Europa-Regular.ttf');
}
@font-face {
  font-family: 'Eurostile';
  src: url('../public/fonts/EurostileLv.ttf');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../public/fonts/SourceSansPro-Bold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .poppins-bold{
    font-family: Poppins-Bold;
  }
  .source-bold{
    font-family: SourceSansPro-Bold;
  }
  .poppins-regular{
    font-family: Poppins-Regular;
  }
  .sans-regular{
    font-family: SourceSansPro-Regular;
  }
  .europa{
    font-family:Europa
  }
  .eurostile{
    font-family: Eurostile;
  }
  .text-17{
    font-size:16px;
  }
  .text-19{
    font-size:19px;
  }
}
